@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  &_top {
    background-color: $blueAlt;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1.5rem;
    color: white;
    @include styleText(0.8rem, 200, $mainFont);
    text-transform: capitalize;

    li {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      &:nth-child(2) {
        margin-right: auto;
      }

      a {
        display: flex;
      }

      button {
        color: white;
        @include styleText(0.8rem, 200, $mainFont);
        text-transform: capitalize;
      }
    }
  }

  &_main {
    padding: 0 1rem;
    height: 8.5rem;
    background: $white;
    border-bottom: 1px solid rgba(204, 207, 214, 0.3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    &_btn {
      padding: 0.75rem 2.5rem;
      background: $navy;
      text-align: center;
      color: $white;
      @include styleText(1rem, 200, $mainFont);
      height: fit-content;
    }

    &_title {
      @include styleText(3rem, 900, $titleFont);
      text-transform: capitalize;
      margin-bottom: 0;
      justify-self: center;
    }

    &_login {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-self: flex-end;

      &__shoppingBag {
        position: relative;

        svg {
          font-size: 2.25rem;
          color: $blueAlt;
        }

        span {
          @include styleText(0.9rem, 300, $mainFont);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -10%);
          color: $white;
        }
      }
    }
  }

  &_nav {
    &__list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      li {
        min-width: 6rem;
        @include styleText(1rem, 300, $mainFont);
        color: $black;
        text-transform: capitalize;
        padding: 1.25rem 0;

        :hover {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
