@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.section {
  padding: 2rem;
  background: $greyDark-bg;

  &__main {
    padding: 4rem 8rem;
    background: $navy_bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: $text_white;

    h2 {
      @include styleText(2.125rem, 900, $titleFont);
    }

    p {
      @include styleText(1.125rem, 300, $mainFont);
      padding-bottom: 0.75rem;
    }

    form {
      width: 100%;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4rem;

      border-radius: 2rem;
      padding: 0.75rem 0.75rem 0.75rem 2rem;
      gap: 1rem;

      input {
        width: 100%;
        border: none;
        @include styleText(1.25rem, 200, $mainFont);
        outline: none;
        line-height: 1;
      }

      button {
        height: 100%;
        padding: 0 3.5rem;
        @include styleText(1rem, 300, $mainFont);
        color: $white;
        text-wrap: nowrap;
        background: $darkGreen;
        border-radius: 2rem;
      }
    }
  }
}
