@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Login {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  svg {
    path {
      &:first-of-type {
        fill: transparent;
      }

      &:last-of-type {
        fill: white;
      }
    }
  }

  span {
    color: $white;
    @include styleText(1rem, 200, $mainFont);
  }
}

.Green {
  span {
    color: $navy;
    @include styleText(1rem, 200, $mainFont);
  }

  svg {
    path {
      &:first-of-type {
        fill: white;
      }

      &:last-of-type {
        fill: $navy;
      }
    }
  }
}
