@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.review {
  width: calc((100vw - $pagePadding * 5) / 4);
  img {
    height: calc((100vw - $pagePadding * 5) / 4);
    width: 100%;
  }

  h3 {
    margin: 1.5rem 0 0.5rem;
    @include styleText(1.2rem, 900, $mainFont);
  }

  .options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    @include styleText(0.8rem, 400, $mainFont);
  }
}
