@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.description {
  display: flex;
  align-items: center;
  gap: 15%;
  padding: 4rem $pagePadding;

  &_image {
    width: 45rem;
    max-width: 40%;
    height: 35rem;
    object-fit: cover;
    object-position: center;
  }

  &_main {
    width: 35%;

    h2 {
      @include title(3rem);
    }

    p {
      @include styleText(1.15rem, 200, $mainFont);
    }
  }
}
