@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.Restaurants {
  padding: 0 $pagePadding;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 120px;
}
