@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.Filter {
  padding: 0 $pagePadding;
  height: 120px;
  margin-bottom: $sectionGap;

  &__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    background: $greyAlt;
    height: 100%;

    &__select {
      height: 45px;
      width: 220px;
      justify-self: center;
      box-shadow: $shadow;
      border-radius: 0;
      border: 1px solid $navy;
      background: $white;
      padding: 0 3rem 0 1rem;
      @include styleText(1rem, 300, $mainFont);
      color: rgb(170, 170, 170);

      ::placeholder {
        // color: rgb(170, 170, 170);
      }
    }

    &__btn {
      justify-self: center;
      font-weight: normal;
      font-size: 1.1rem;
      box-shadow: $shadow;
    }
  }
}
