@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

$article_height: 500px;

// FIXME refactor
.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.07rem;
  padding: 0 0.07rem;
}
